.reserve {
    display: flex;
    flex-direction: column;
    min-height: 30rem;
    width: 100%;
    align-items: center;

    &__content {
        display: flex;
        flex-direction: column;
        width: 85%;

        &__title {
            border-bottom: .0625rem solid #d8d9db;
            margin-bottom: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                opacity: 0.9;
            }

            h4 {
                color: #2a945b;
            }
        }

        &__card {
            margin-bottom: 3rem;
        }

    }
}